.container {
    display: grid;
    height: auto;
    grid-row: auto auto auto;
    grid-template-areas:
    'hd'
    'mn'
    'ft';
}

header{
    grid-area: hd;
}
main{
    display: flex;
    width: 100%;
    justify-content: center;
    grid-area: mn;
    margin-top: 80px;
    flex-direction: column;
    flex-wrap: wrap;
}
h1{
    padding: 10px 0;
    text-align: center;
}
footer{
    grid-area: ft;
}
.store-menu{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
.item-box{
    display: flex;
    flex-direction: column;
    padding: 1vw;
    background-color: black;
    color: white;
    width: 45vw;
}
.item-box img{
    width: 45vw;
    height: 45vw;
    font-family: 'Undertale';
}
.item-name{
    font-size: 1.4rem;
    flex-wrap: wrap;
    margin: 1px;
    overflow: hidden;
}
.item-price{
    font-size: 1.2rem;
    flex-wrap:wrap;
}

@media screen and (min-width: 600px){
.item-box{
    width: 20vw;
    align-items: center;
    justify-content: center;
}
.item-box img{
    width: 20vw;
    height: 20vw;
    border-radius: 10px;
}
}