body{
    display: grid;
    height: auto;
    grid-row: auto auto auto;
    grid-template-areas:
    'hd'
    'mn'
    'ft';
}

main{
    display: flex;
    margin-top: 80px;
    grid-area: mn;
    flex-direction: column;
    align-items: center;
    background-color: black;
}
.product{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    background-color: black;
}
.item-information{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    outline: solid white 2px;
}
.product-image{
    align-items: center;
    justify-content: center;
}
main img{
    width: 100%;
}
h1{
    padding: 10px 0
}
.pricing{
    font-size: 1.5rem;
}
.available{
    font-size: 1rem;
}
.row-info{
    display: flex;
}
.keystone{
    width: 30%;
    font-weight: bold;
}
.keystone-info{
 font-style: italic;
 width: 70%;
}
